@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;

  background: rgb(162, 179, 168);
  background: linear-gradient(
    90deg,
    rgba(162, 179, 168, 1) 23%,
    rgba(162, 179, 168, 1) 38%,
    rgba(226, 241, 231, 1) 62%
  );

  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  width: 100%;
  height: 100px;
  color: white;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
}

.logo {
  margin-left: 95px;
  letter-spacing: 3px;
}

.close-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.sidebar-wrapper {
  position: relative;
}

.active {
  right: 0;
}

.btn {
  display: inline-block;

  padding: 8px;
  border-radius: 5px;
}

.link {
  width: 100%;
  display: block;
  padding: 15px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  background-color: rgb(71, 71, 71);
}

.sidebar {
  display: flex;
  flex-direction: column;
  color: white;
  width: 300px;
  background-color: #333;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  right: -300px;
  transition: 0.8s ease;
  border-radius: 6px;
}

.links {
  height: 100%;
  width: 100%;

  text-align: center;
}

.links-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/*.links h1 {
  margin: 90px 30px;
} */

.txt-type {
  border-right: 0.2rem solid #777;
}

.btn-menu {
  border: 4px solid white;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  height: 50px;
  width: 120px;
  margin: 0 95px;
  font-weight: bold;
  font-size: 1rem;
}

.hero {
  /*background: url("/images/hero.jpg") no-repeat center center/cover; */
  height: 100vh;
  position: relative;
  color: black;
  z-index: 1;
  letter-spacing: 3px;
  font-size: 1rem;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  z-index: 1;
  margin-left: 80px;
}

.content h2 {
  margin-bottom: 80px;
}

.hero .content h1 {
  font-size: 5rem;
}

a {
  color: white;
  text-decoration: none;
}

section {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    90deg,
    rgba(162, 179, 168, 1) 23%,
    rgba(162, 179, 168, 1) 38%,
    rgba(226, 241, 231, 1) 62%
  );
}

.skills {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    90deg,
    rgba(162, 179, 168, 1) 23%,
    rgba(162, 179, 168, 1) 38%,
    rgba(226, 241, 231, 1) 62%
  );
  text-align: center;
  font-size: 1.5rem;
  margin-top: 200px;
}

.skills-container {
  display: flex;
  width: 100%;
  margin-top: 150px;

  justify-content: space-evenly;
}

.skills-text {
  width: 80%;
}

#title {
  text-align: left;
  margin-left: 120px;
  border-left: 2px black solid;
  padding: 10px;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 100%;
}

.skill-icon {
  margin: 40px 0;
}

.skill-icon-react {
  margin: 30px;
}

.portfolio {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 200px;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.portfolio-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-content: center;
  justify-content: center;
}

.card-container {
  width: 250px;
  height: 320px;
  position: relative;
  margin: 40px;
}

.portfolio-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /*background: linear-gradient(165deg, black 35%, yellow 25%); */

  color: white;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-front h2 {
  margin-top: 10px;
}

.one {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    165deg,
    rgba(212, 175, 55, 1) 35%,
    rgba(192, 208, 197, 1) 25%,
    rgba(226, 241, 231, 1) 100%
  );
}

.two {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    165deg,
    rgba(250, 91, 61, 1) 35%,
    rgba(192, 208, 197, 1) 25%,
    rgba(226, 241, 231, 1) 100%
  );
}

.three {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    165deg,
    rgba(210, 4, 45, 0.6) 35%,
    rgba(192, 208, 197, 1) 25%,
    rgba(226, 241, 231, 1) 100%
  );
}

.four {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    165deg,
    rgba(157, 194, 9, 0.6) 35%,
    rgba(192, 208, 197, 1) 25%,
    rgba(226, 241, 231, 1) 100%
  );
}

.five {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    165deg,
    rgba(30, 144, 255, 0.6) 35%,
    rgba(192, 208, 197, 1) 25%,
    rgba(226, 241, 231, 1) 100%
  );
}

.six {
  background: rgb(162, 179, 168);
  background: linear-gradient(
    165deg,
    rgba(255, 135, 141, 0.6) 35%,
    rgba(192, 208, 197, 1) 25%,
    rgba(226, 241, 231, 1) 100%
  );
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: white;

  transform: rotateY(180deg);
  background: rgb(8, 92, 205);
  background: linear-gradient(
    90deg,
    rgba(8, 92, 205, 1) 0%,
    rgba(102, 102, 102, 1) 0%,
    rgba(90, 160, 162, 1) 0%,
    rgba(158, 163, 201, 1) 100%,
    rgba(147, 194, 191, 1) 100%,
    rgba(177, 212, 206, 1) 100%,
    rgba(226, 241, 231, 1) 100%,
    rgba(72, 251, 255, 1) 100%
  );
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.portfolio-card:hover {
  transform: rotateY(180deg);
}

.port-img {
  margin-top: 95px;
}

.btn-portfolio {
  background: rgb(8, 92, 205);
  border: 4px solid white;
  color: white;
  width: 150px;
  height: 55px;
  margin: 50px 0;
  font-size: 1.5rem;
}

.btn-portfolio:hover {
  background: rgba(0, 0, 0, 0.5);
}

.about {
  margin-top: 180px;
}

.about h1 {
  font-size: 2rem;
  margin: 80px 0;
}

.about p {
  line-height: 1.9;
  margin: 40px 120px;
  font-size: 1.5rem;
}

.contact {
  margin-top: 220px;
}

.contact h1 {
  font-size: 2rem;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

form {
  margin: 10px 120px 80px 50px;
  padding: 30px;
  background: rgb(8, 92, 205);
  background: linear-gradient(
    90deg,
    rgba(8, 92, 205, 1) 0%,
    rgba(73, 159, 148, 1) 0%,
    rgba(90, 160, 162, 1) 0%,
    rgba(103, 161, 169, 1) 19%,
    rgba(126, 162, 182, 1) 41%,
    rgba(148, 163, 195, 1) 100%,
    rgba(72, 251, 255, 1) 100%,
    rgba(158, 163, 201, 1) 100%,
    rgba(147, 194, 191, 1) 100%,
    rgba(177, 212, 206, 1) 100%,
    rgba(226, 241, 231, 1) 100%
  );
  width: 50%;
  height: 750px;
  border-radius: 10px;
  box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.6);
}

.field {
  margin: 10px 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  align-items: start;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  margin: 20px 0;
  border-radius: 5px;
}

input[type="email"] {
  padding: 10px;
  width: 250px;
  margin: 20px 0;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px;
  width: 250px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: black;
  color: white;
}

textarea {
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}

input[type="submit"]:hover {
  background-color: #3b3b3b;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h3:hover {
  text-decoration: underline;
}

.mobile-nav-bar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

/* Mobile */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  .mobile-nav-bar {
    display: flex;
  }

  .hero {
    height: auto;
  }

  #content {
    display: none;
  }

  #title {
    text-align: left;
    margin-left: 30px;
    border-left: 1px black solid;
    padding: 10px;
  }

  .skills {
    margin: 30px 0;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  .skills-box {
    width: 100%;
  }

  .portfolio {
    margin-top: 50px;
  }

  .portfolio-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;

    align-content: center;
    justify-content: center;
  }

  .about {
    margin-top: 50px;
  }

  .about p {
    line-height: 1.2;
    margin: 20px 30px;
    font-size: 1.5rem;
    text-align: center;
  }

  .contact {
    margin-top: 60px;
  }

  .form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  form {
    width: 100%;
    margin: 10px 20px;
    background: rgb(162, 179, 168);
    background: linear-gradient(
      90deg,
      rgba(162, 179, 168, 1) 23%,
      rgba(162, 179, 168, 1) 38%,
      rgba(226, 241, 231, 1) 62%
    );
    box-shadow: 0;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    align-items: center;
  }
}
